@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  /* z-index: 1; */
  /* background-color: #212121; */
}
.text{
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 0.5px;
  /* color: rgb(1, 80, 122); */
  color: #ffffff;
  text-shadow: 1px 0 0 #1b3a4b, 0 -1px 0 #1b3a4b, 0 1px 0 #1b3a4b, -1px 0 0 #1b3a4b;
  /* padding-top: 0.05rem; */

  margin-bottom: 1rem;
  z-index: 1;
}
.dud{
  color: #ffffff;
  text-shadow: 1px 0 0 #1b3a4b, 0 -1px 0 #1b3a4b, 0 1px 0 #1b3a4b, -1px 0 0 #1b3a4b;
}
@media only screen and (max-width: 414px) {
  .container{
    padding-bottom: 1.5rem;
  }
  .text{
    font-size: 28px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}